@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

:root {
  --dark-green: #4A7C72;
  --light-green: #D9E8AE;
  --light-blue: #A9D3F5;
  --black: #000000;
  --background: #FAFAFA;
  --text-color: #333;
}

body {
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
